body {
  color: #626262;
  font-family: "Playfair Display";
  font-size: 0px;
}

img{
  display: block;
  max-width: 100%;
  height: auto;
}
/* main navigation */

.header {
  width: 900px;
  margin: 0 auto;
}

.main-menu {
  font-size: 14px;
  list-style: none;
  text-align: center;
  padding: 75px;
  margin: 0px;
}

.main-menu a:hover {
  color: green;
}

.main-menu-item {
  display: inline-block;
  text-align: center;
}

.link-1 {
  margin-right: 120px;
}

.link-2 {
  margin-right: 105px;
}

.link-3 {
  margin-right: 95px;
}

.main-menu a {
  color: #626262;
  text-decoration: none;
  display: block;
  line-height: 24px;
  text-transform: uppercase;
}

/* content */

.wrapper {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.content-list {
  list-style: none;
  padding: 0px;
}

.content-list-item {
  display: inline-block;
  margin-right: 60px;
  width: 420px;
  margin-bottom: 130px;
  vertical-align: top;
}

.content-list-item:nth-child(2n) {
  margin-right: 0px;
}

.content-list-item:nth-last-child(-n+2) {
  margin-bottom: 0px;
}

.content-list-item h3 {
  color: #b4ad9e;
  text-transform: uppercase;
  font-family: "Ubuntu";
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  width: 420px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.content-list-item h2 {
  font-size: 30px;
  line-height: 36px;
  width: 420px;
  margin: 0 auto;
  margin-top: 20px;
}

.content-list-item p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  width: 420px;
  margin: 0 auto;
  margin-top: 20px;
}

/* button */

div {
  width: 165px;
  margin: 0 auto;
  padding: 55px;
}

button {
  color: #626262;
  text-decoration: none;
  border: 1px solid;
  background-color: white;
  padding: 18px;
  min-width: 165px;
  min-height: 60px;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
}