

  <div class="wrapper"></div>

  .wrapper {
    min-height: 974px;
    background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ), url("../img/1050.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  