.list {
  list-style: none;
  font-size: 25px;
  margin: 0 auto;
  text-align: center;
  font-family: sans-serif;
}

.list-item:not(:last-child) {
  padding-bottom: 30px;
}

.list-item:first-child {
  padding-top: 40px;
}

.list-item::before {
  content: '\2192'

}